:root {
    --color-primary: #036110cc;
    /* Verde principal (botões, destaques) */
    --color-primary-dark: #3cb36a;
    /* Verde escuro (fundos, hovers) */
    --color-accent: #dc2626;
    /* Vermelho de alerta (emergências) */
    --color-neutral: #f9fafb;
    /* Cinza claro (fundos neutros) */
    --verde-escuro: #163f26;
    /* Cinza escuro (texto principal) */
    --color-white: #ffffff;
    /* Branco */

    --font-sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f9fafb;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    color: #374151;
}

/*INÍCIO DO NAV */

.container-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 35px;
    margin: 0px;
    padding: 20px 0px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.menu-logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.menu-logo img {
    height: 75px;
    width: 75px;
    margin-left: 70px;
}

.menu-link {
    margin-right: 30px;
}

.menu-lista {
    display: flex;
    gap: 50px;
}

.menu-lista a,
li {
    text-decoration: none;
    list-style-type: none;
    font-weight: 500;
    font-size: 0.98rem;
    color: rgb(51, 74, 51);
}

.menu-lista a {
    transition: all 0.3s ease;
}

.menu-lista a:hover {
    color: var(--color-primary);
    text-decoration: none;
}

/*FIM DO NAV */

.container-home {
    display: flex;
    align-items: center;
    padding: 10px 70px;
    background: repeating-linear-gradient(0deg,
            #f0fdf4,
            #f0fdf4 10px,
            #e8faec 10px,
            #e8faec 20px);
    background-image: url(../assets/ondas-leve.png);
    height: 800px;
    box-shadow:
        0 8px 20px rgba(0, 0, 0, 0.12),
        0 4px 10px rgba(0, 0, 0, 0.06);
}

.home-texto {
    padding: 0px 100px;
}

.home-texto h1 {
    font-size: 3.5rem;
    color: var(--verde-escuro);
    padding: 0px 50px;
    line-height: 60px;
}

.home-texto p {
    font-size: 1.20rem;
    font-weight: 700;
    color: var(--verde-escuro);
    padding: 0px 40px 0px 20px;
    margin-right: 20px;
    padding: 0px 50px;
}

.home-btn {
    display: flex;
    gap: 20px;
    padding: 0px 50px;
    transition: transform 0.2s ease;
}

.btn-1 {
    background-color: var(--color-primary);
    padding: 15px 20px;
    color: var(--color-white);
    font-weight: 700;
    border-radius: 15px;
    border: none;
    transition: transform 0.1s ease;
}

.btn-1:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.btn-2 {
    background-color: var(--color-white);
    padding: 15px 20px;
    color: var(--color-primary);
    font-weight: 700;
    border-radius: 15px;
    border-color: var(--color-primary);
    transition: transform 0.2s ease;
}

.btn-2:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.container-home img {
    max-width: 100%;
    height: auto;
    flex: 1;
    min-width: 300px;
    margin-right: 50px;
    border-radius: 10px;
}

/* Configs Chatbot */
#chatbot-container {
    display: none;
    position: fixed;
    bottom: 90px;
    right: 25px;
    width: 350px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    background: white;
    z-index: 1000;
    overflow: hidden;
}

/* Fim Chatbot */

/* INICIO RECURSO */

.container-desastres {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow:
        0 8px 20px rgba(0, 0, 0, 0.12),
        0 4px 10px rgba(0, 0, 0, 0.06);
}

.titulo-desastre {
    color: var(--verde-escuro);
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.texto-desastres {
    display: flex;
    justify-content: space-around;
    gap: 50px;
    margin-bottom: 10px;
}

.desastre-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(202, 237, 202, 0.566);
    padding: 20px 50px;
    margin: 0px 30px;
    border-radius: 10px;
    width: 70px;
    height: 90px;
    margin-bottom: 30px;
}

.desastre-item img {
    width: 40px;
    height: 40px;
    align-items: center;
    margin: 0px auto;
}

.desastre-item p {
    padding: 0px 0px;
}
/* FIM RECURSO */

/* INÍCIO RECURSO */

.container-recurso {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e9f9f0;
    /* cor de fundo suave */
    padding: 40px 20px;
}

.recurso-texto {
    text-align: center;
    color: #0c3f26;
    /* verde escuro */
    margin-bottom: 30px;
}

.recurso-texto h1 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #0c3f26;
    font-weight: bold;
}

.recurso-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;

    width: 100%;
    max-width: 1100px;
}

.recurso-card div {
    background-color: white;
    border-radius: 12px;
    padding: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    transition: transform 0.2s ease;
    margin-bottom: 20px;
}

.recurso-card div:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.08);
}

.recurso-card img {
    width: 40px;
    height: 40px;
    margin-bottom: 15px;
}

.recurso-card h2 {
    font-size: 1.1rem;
    color: #14532d;
    margin-bottom: 10px;
}

.recurso-card p {
    font-size: 0.95rem;
    color: #333;
    line-height: 1.4;
}

/*assinatura */

.container-assinatura {
    background-color: #ffffff;
    padding: 50px 20px;
    text-align: center;
}

.assinatura-titulo h1 {
    font-size: 2rem;
    color: #14532d;
    margin-bottom: 10px;
}

.assinatura-titulo p {
    font-size: 1rem;
    color: #444;
    margin-bottom: 40px;
}

.assinatura-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.card {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    width: 300px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.2s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.card-preço h2 {
    font-size: 1.3rem;
    color: #166534;
    margin-bottom: 10px;
}

.card-preço h3 {
    font-size: 1.8rem;
    color: #16a34a;
    margin: 10px 0;
}

.card-preço span {
    font-size: 0.9rem;
    color: #555;
}

.card-preço p {
    font-size: 0.85rem;
    color: #888;
}

.card-texto p {
    font-size: 0.95rem;
    color: #333;
    margin: 8px 0;
}

.card-texto button {
    margin-top: 20px;
    padding: 12px 0;
    background-color: #16a34a;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
}

.card-texto button:hover {
    background-color: #14532d;
}

/*cadastro*/
.container-cadastro {
    padding: 60px 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cadastro-texto {
    text-align: center;
    margin-bottom: 40px;
}

.cadastro-texto h1 {
    font-size: 1.8rem;
    color: var(--verde-escuro);
    margin-bottom: 10px;
}

.cadastro-texto p {
    font-size: 1rem;
    color: #444;
}

.cadastro-conteudo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    max-width: 1200px;
    width: 100%;
    flex-wrap: wrap;
}

.cadastro-informação {
    flex: 1;
    max-width: 500px;
}

.numero-passo {
    background-color: #d1f5d7;
    color: #14532d;
    font-weight: bold;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.container-cadastro cadastro-informação {
    display: flex;
}

.container-info img {
    width: 700px;
    height: auto;
    border-radius: 15px;
    margin-top: 50px;
    
}

.container-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.container-cadastro {
    display: flex;
    flex-direction: column;
}

.cadastro-informação h2 {
    color: #166534;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.cadastro-informação p {
    color: #444;
    font-size: 1rem;
    margin-bottom: 15px;
}

.cadastro-informação ul {
    padding-left: 0;
    list-style: ✔️;
}

.cadastro-informação li {
    margin-bottom: 8px;
    font-size: 0.95rem;
}

.cadastro-imagem img {
    width: 100%;
    max-width: 500px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

/* RESPONSIVIDADE GERAL */
@media (max-width: 1044px) {
    .container-home {
        flex-direction: column-reverse;
        text-align: center;
        height: auto;
        padding: 0px 20px 70px 20px;
    }

    .home-texto {
        padding: 0;
    }

    .home-texto h1,
    .home-texto p {
        padding: 0 20px;
    }

    .home-btn {
        justify-content: center;
        flex-wrap: wrap;
        padding: 20px;
    }

    .container-home img {
        display: none;
    }

    .menu-logo img {
        margin-left: 20px;
        height: 60px;
        width: 60px;
    }

    .menu-lista {
        gap: 20px;
    }

    .texto-desastres {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        gap: 5px;
    }

    .desastre-item {
        width: auto;
        height: auto;
        padding: 20px;
    }

    .cadastro-conteudo {
        flex-direction: column;
        align-items: center;
    }

     .container-cadastro { 
        display: flex;
        flex-direction: column;

    }

    .container-imagem img {
        display: none;
    }
}

@media (max-width: 768px) {
    .home-texto {
        margin-bottom: 100px;
    }

    .titulo-desastre {
        text-align: center;
    }

    .container-menu {
        height: auto;
        padding: 10px 0;
    }

    .menu-link {
        display: none;
        margin: 10px 0;
    }

    .menu-lista {
        flex-direction: column;
        align-items: center;
        margin: 0px auto;
        gap: 15px;
    }

    .container-assinatura {
        padding: 30px 10px;   
    }

    .assinatura-card {
        display: flex;
        flex-wrap: wrap;
        margin: 0px auto;
    }

    .card {
        margin: 0 auto;
    }

    .card div {
        margin: 0 auto;    
    }

    .container-cadastro { 
        display: flex;
        flex-direction: column;
    }

    .container-imagem img {
        display: none;
    }

    .container-home {
        height: 600px;
    }
}

@media (max-width: 480px) {
    .recurso-texto h1 {
        font-size: 1.5rem;
    }

    .home-texto h1 {
        font-size: 2.2rem;
        line-height: 40px;
    }

    .home-texto p {
        font-size: 1rem;
    }

    .btn-1,
    .btn-2 {
        width: 100%;
        text-align: center;
    }

    .chatbot-button {
        right: 15px;
        bottom: 15px;
    }

    #chatbot-container {
        width: 90%;
        right: 5%;
    }
}

/* Menu Hambúrguer */

.menuHamburguer {
    padding-right: 20px;
    cursor: pointer;
}

.closeMenu {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    z-index: 1001;
}

.menuOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
}

.menuOverlay.active {
    display: flex;
    opacity: 1;
    visibility: visible;
}

@media (min-width: 768px) {
    .menuOverlay {
        position: static; 
        display: flex !important;
        flex-direction: row;
        background: transparent; 
        opacity: 1 !important;
        visibility: visible !important;
        width: auto;
        height: auto;
    }

    .menu-lista {
        display: flex;
        gap: 20px; 
    }

    .item__lista__menu {
        margin: 0 !important;
    }

    .menuHamburguer {
        display: none;
    }

    .closeMenu {
        display: none;
    }
}

@media (max-width: 768px) {
    .menuOverlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 1000;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease, visibility 0.3s ease;
    }

    .menuOverlay.active {
        opacity: 1;
        visibility: visible;
    }

    .menu-link {
        width: 100%;
        max-width: 300px;
        text-align: center;
    }

    .menu-lista {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .item__lista__menu {
        margin: 20px 0;
        width: 100%;
    }

    .item__lista__menu a {
        color: #000;
        text-decoration: none;
        font-size: 1.2rem;
        display: block;
        width: 100%;
        padding: 10px;
        transition: all 0.3s;
    }

    .closeMenu {
        position: absolute;
        top: 20px;
        right: 20px;
        background: none;
        border: none;
        cursor: pointer;
        font-size: 1.5rem;
        z-index: 1001;
    }

    .menuOverlay.active .menu-link,
    .menuOverlay.active .menu-lista,
    .menuOverlay.active .item__lista__menu {
        display: block !important;
        opacity: 1 !important;
        visibility: visible !important;
    }
}

/* Fim Menu Hambúrguer */